#AddInterview {
    /* background-image: url("../images/grid.png"), url("../images/mask.png"), url("../images/background.png"); */
    background-position: 75vw 60vh, 0, 12vw;
    background-repeat: no-repeat;
    background-size: 12%, cover, cover;

}

.interview-well {
    padding: 7%;
    display: block;
}
/* Form page styles */
#form header {
    background-color: var(--brand-red);
    margin-bottom: 3rem;
}

#form header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    width: 80vw;
}

#form header .logo {
    color: var(--brand-white);
    text-align: center;
}

#form header .logo h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

#form header .logo h2 {
    font-size: 0.85rem;
}

#form header .logo h2 span {
    color: var(--brand-dark-pink);
}

#form button {
    color: var(--brand-white);
    background-color: var(--brand-black);
    text-transform: uppercase;
    border: none;
    padding: 0.35rem 2.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

#form .container h2 {
    width: 12rem;
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
}

#form form {
    display: flex;
    justify-content: space-between;
}

#form form input:not(input[type="radio"]),
#form form select,
#form form textarea {
    margin-bottom: 1.5rem;
    border-color: var(--brand-light-gray);
    border-radius: 0.25rem;
    min-height: 2.5rem;
}

#form form legend{
    margin-bottom: 0.5rem;
}

#form form label, legend {
    font-size: 0.75rem;
}

#form form textarea {
    height: 16.5rem;
}

#form form .details {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#form form .note {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#form form .note button {
    width: 50%;
    align-self: flex-end;
}