
 /* Login page styles */
#login {
    /* background-image: url("../images/grid.png"), url("../images/mask.png"), url("../images/background.png"); */
    background-position: 75vw 60vh, 0, 12vw;
    background-repeat: no-repeat;
    background-size: 12%, cover, cover;

}

#login .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login header {
    width: 18rem;
    margin-top: 12rem;
}

#login header h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}


#login header h2 span{
  color: var(--brand-red);
}

#login header h4 {
  margin-top: -0.75rem;
  font-size: 0.85rem;
}

#login header .google-auth {
  margin-top: 2rem;
}

#login header .google-auth button {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: var(--brand-red);
  color: var(--brand-white);
  border-radius: 0.25rem;
  font-size: 1rem;
}

#login header .google-auth button i {
  margin-right: 0.5rem;
}

#login header .google-auth p {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--brand-red);
}

#login header .google-auth p a {
  color: var(--brand-red);
  text-decoration: underline;
}

#login footer {
  margin-top: auto;
  font-size: 0.8rem;
}

#login footer a {
  text-decoration: none;
  color: inherit;
}