
 /* Login page styles */
body {
    background-image: url("../images/grid.png"), url("../images/mask.png"), url("../images/background.png");
    background-position: 75vw 60vh, 0, 12vw;
    background-repeat: no-repeat;
    background-size: 12%, cover, cover;
}

.login {
  padding-top: 20%;
}

.signincontainer {
  flex: content;
  padding-left: 5rem;
  margin-top: 0rem;
  min-height: 0rem;
  padding-top: 10rem;
  z-index: 0;
}

.signindiv {
  text-align: center;
  margin-top: -30rem;
  margin-left: 0rem;
  margin-right: 70rem;
  z-index: 10;
}

.text-center h4 {
  margin-bottom: 28px;
}

.text-center h1 {
  font-size: 2.6rem;
}

.google-button {
  background-color: #d34836;
  margin-bottom: 10px;
}

.login header {
    width: 18rem;
    margin-top: 12rem;
}

.login header h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}


.login header h2 span{
  color: var(--brand-red);
}

.login header h4 {
  margin-top: -0.75rem;
  font-size: 0.85rem;
}


.google-auth {
  position: relative;
}

.span {
  color:#d34836;
}

